/* Customer Page Styles */

.card{
  background-color: var(--primary-color);
}

#Customers_table_container{
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#main_table_container{
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--primary-color);
}
/* List js sort class style */
.sort{
  cursor: pointer;
}