/* theme */
#main-container{
    height: 100vh;
}

.sidebar-hid{
    width: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    white-space: nowrap; 
    background-color: var(--base-color);
    /* border-right: 2px solid var(--secondary-color); */
    color: var(--text-color);
    height: 100%;
}
.sidebar-show{
    width: 200px;
}

#sidebarlinks a{
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

#sidebar_button{
    padding-bottom: 10px;
    padding-bottom: 10px;
}

/* @media screen and (max-width:500px){
    .sidebar-show{
        width: 100vw;
    }
} */
.dark{
    background-color: #0F4C75;
}

#sideclose{
    vertical-align: middle;
}

.content_container_norm{
    width: 100vw;
    overflow-x: auto;
    
}
.content_container_full{
    transition: all 0.5s ease;
    width: 100vw;
    overflow-x: auto;
}
.content_container_less{
    transition: all 0.5s ease;
    width: calc(100vw - 200px);
}