/* theme */
:root{
    --text-color: #1B262C;
    --secondary-color: #0F4C75;
    --primary-color: #3282B8;
    --base-color: #BBE1FA;
}

.dark-theme{
    --base-color: #1B262C;
    --primary-color: #0F4C75;
    --secondary-color: #3282B8;
    --text-color: #BBE1FA;
}
#main-container{
    height: 100vh;
}

.sidebar-hid{
    width: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    white-space: nowrap; 
    background-color: var(--base-color);
    /* border-right: 2px solid var(--secondary-color); */
    color: var(--text-color);
    height: 100%;
}
.sidebar-show{
    width: 200px;
}


#logomain h2{
    border-bottom: 1px solid var(--secondary-color);
    text-align: center;
    vertical-align: top;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#logomain h2:hover{
    cursor: pointer;
}

#sidebarlinks a{
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
#sidebarlinks a p{
    text-decoration: none;
    color: var(--text-color);
    margin: 0px;
}
#sidebarlinks a:hover{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 10px;
}
#sidebarlinks a span{
    vertical-align: middle;
    color: var(--secondary-color);
}
#logomain h2 span{
    color: var(--secondary-color);
}

#sidebar_button:hover{
    cursor: pointer;
}

#sidebar_button{
    padding-bottom: 10px;
    padding-bottom: 10px;
}

/* @media screen and (max-width:500px){
    .sidebar-show{
        width: 100vw;
    }
} */
.dark{
    background-color: #0F4C75;
}

#sideclose{
    vertical-align: middle;
}

.content_container_norm{
    width: 100vw;
    overflow-x: auto;
    
}
.content_container_full{
    transition: all 0.5s ease;
    width: 100vw;
    overflow-x: auto;
}
.content_container_less{
    transition: all 0.5s ease;
    width: calc(100vw - 200px);
}