{% extends 'p_o_s/dashboard.html' %}

{% block pageheading %}
    Customers
{% endblock %}

{% block pagedata %}

<div class="container-fluid">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
        <div class="card my-2 bg-backgroundMedium text-textMain">
            <div class="card-body">
                <p class="card-text">Total Customers:</p>
                <h5 class="card-title" id="n_customers">0</h5>
            </div>
        </div>
        <div class="card m-2 bg-backgroundMedium text-textMain">
            <div class="card-body">
                <p class="font-bold">New Customers:</p>
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card my-2 bg-backgroundMedium text-textMain">
            <div class="card-body">
                <p class="font-bold">Customers Average:</p>
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
    </div>
    
    <div class="bg-backgroundMedium rounded-lg p-2 card" id="Customers_table_container">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <a href="customer-new/ADD"
                class="bg-color_primary text-backgroundMain rounded px-4 py-2 shadow flex items-center hover:bg-textMediumMain">
                Add
                <span class="material-symbols-outlined fs-5 align-text-bottom ml-2">add</span>
            </a>
            <div class="flex w-full md:w-auto items-center space-x-2">
                <input
                    type="text"
                    placeholder="Search"
                    class="flex-grow md:flex-none w-full md:w-64 rounded px-3 py-2 shadow border border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                />
                <button
                class="bg-color_primary text-backgroundMain rounded px-4 py-2 shadow hover:bg-textMediumMain flex items-center">
                    <span class="material-symbols-outlined fs-5 align-text-bottom">search</span>
                </button>
            </div>
        </div>
        <br>

        <div id="main_table_container" class="min-w-full overflow-auto">
            <table class="table-auto min-w-[600px] w-full">
                <thead>
                    <tr class="h-8">
                        <th class="bg-backgroundMain text-textMain rounded-tl-md" scope="col">Name<span data-sort="c_name" class="material-symbols-outlined sort" style="font-size: medium;">swap_vert</span></th>
                        <th class="bg-backgroundMain text-textMain" scope="col">Father's Name<span data-sort="cf_name" class="material-symbols-outlined sort" style="font-size: medium;">swap_vert</span></th>
                        <th class="bg-backgroundMain text-textMain" scope="col">Email<span data-sort="c_email" class="material-symbols-outlined" style="font-size: medium;">swap_vert</span></th>
                        <th class="bg-backgroundMain text-textMain" scope="col">Phone</th>
                        <th class="bg-backgroundMain text-textMain" scope="col">Address<span data-sort="c_address" class="material-symbols-outlined sort" style="font-size: medium;">swap_vert</span></th>
                        <th class="bg-backgroundMain text-textMain" scope="col">Created<span data-sort="c_created" class="material-symbols-outlined sort" style="font-size: medium;">swap_vert</span></th>
                        <th class="bg-backgroundMain text-textMain rounded-tr-md" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list align-middle" id="clist">
                    <tr>
                        <!-- HERE -->
                        <!-- JS fetch data added here -->
                        <!-- HERE -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-1">
            <button class="btn btn-light m-1" id="prev_page_btn" data-url="null"><span class="material-symbols-outlined align-text-bottom">arrow_back_ios</span></button>
            <button class="btn btn-light m-1" id="page_number_btn">1</button>
            <button class="btn btn-light m-1" id="next_page_btn" data-url="null"><span class="material-symbols-outlined align-text-bottom">arrow_forward_ios</span></button>
        </div>
    </div>
</div>

<script>

    const baseURL = window.location.origin;
    const apiURL = '/api/customers'
    const main_url = baseURL + apiURL
    
    function pagenumber(url){
        var output = url.match(/(\d+)$/);
        console.log("output is :", output)
        var pn = 1;
        if(output !== null){
            var lastElement = parseInt(output[0])
            if (typeof lastElement == 'number')
            {
                var pn = parseInt(lastElement);
            }
        }
        return pn;
    }

    function data_get(url){
        fetch(url)
            .then(response => response.json())
            .then(data => {
                // console.log("c data is loop is ", data, "datatype:", typeof data, "prev", data.previous)
                c_data = data.results;
                const c_list = document.getElementById('clist');
                // console.log("results are:", c_data.results)

                // Clear existing data
                c_list.innerHTML = '';

                c_data.forEach(customer => {
                    const newRow = document.createElement('tr');
                    // var rowCount = document.getElementById('your_table_id').getElementsByTagName('tr').length;
                    
                    newRow.innerHTML = `<td class="c_name bg-textMediumMain text-backgroundMain">${customer.name}</td><td class="cf_name bg-textMediumMain text-backgroundMain">${customer.father_name}</td><td class="c_email bg-textMediumMain text-backgroundMain">${customer.email}</td><td class="c_phone bg-textMediumMain text-backgroundMain">${customer.phone_number}</td><td class="c_address bg-textMediumMain text-backgroundMain">${customer.address}</td><td class="c_created bg-textMediumMain text-backgroundMain">${customer.date_created}</td><td class="c_action bg-textMediumMain text-backgroundMain"><a class="btn bg-backgroundMain text-textMain" href="customer-update/UPDATE/${customer.id}"><span class="material-symbols-outlined fs-5 align-text-bottom">edit</span></a>
                    <button class="btn bg-red-600 text-textMain" onclick="deleteCustomer(${customer.id})"><span class="material-symbols-outlined fs-5 align-text-bottom">delete</span></button></td>`;
                    
                    c_list.appendChild(newRow);
                });
                // Update next and stats
                $('#n_customers').text(data.count);
                $('#prev_page_btn').attr("data-url", data.previous);
                $('#next_page_btn').attr("data-url", data.next);
                console.log("previous is ",data.previous)
                console.log("next is ",data.next)
                if(data.next == null && data.previous==null)
                {
                    $("#page_number_btn").text(1);
                }
                else if(data.next == null)
                {
                    let word = pagenumber(data.previous);
                    $("#page_number_btn").text(word+1);
                }
                else{
                    let word = pagenumber(data.next);
                    $("#page_number_btn").text(word-1);
                }

                // Initialize List.js after populating the table
                var options = {
                    valueNames: ['c_name','cf_name','c_email','c_phone','c_address','c_created']
                };
                var userList = new List('Customers_table_container', options);
                console.log("List.js initialized");
            })
            .catch(error => console.error('Error fetching data:', error));
    }
    data_get(main_url);

    
    $('#prev_page_btn').click(function(){
        var np_url = $(this).attr('data-url');
        if (!!np_url){
            data_get(np_url);
        }
    });
    $('#next_page_btn').click(function(){
        var np_url = $(this).attr('data-url');
        if (!!np_url){
            data_get(np_url);
        }
    });

    function editCustomer(id){


    } 
    function deleteCustomer(id){
        var del_link = baseURL + '/api/customers/' + id;
        console.log("to del", del_link)

        fetch(del_link, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                // Add any additional headers if needed
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            console.log('Customer deleted successfully');
            // Optionally, you can update the UI or perform other actions
        })
        .then(() => {
            data_get(main_url);
        })
        .catch(error => {
            console.error('Error deleting customer:', error);
            // Handle errors here
        });
        
    }

</script>
{% endblock %}