{% extends 'base.html' %}

{% block pageheading %}
    Dashboard
{% endblock %}

{% block pagedata %}
<body>
    <h1 class="text-textMain text-2xl">Create Order</h1>
    <form method="post" action="/submit_order/">  
        <h2 class="text-textMain text-xl">Customer Information</h2>
        <label for="customer" class="text-textMain">Customer:</label>
        <select class="select2_select bg-backgroundMain Medium text-textMain"  id="customer" name="customer" value="Select">
            <option value="">Select</option>
            {% for item in customer_data.results %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <br>
        <h2 class="text-textMain">Order Items</h2>
        <div id="order_items_container">
            </div>
        
        <div id="table_div" class="bg-backgroundMedium p-2 overflow-x-scroll mb-2 rounded-lg">
            <table class="table-auto min-w-[600px] w-full" id="myTable">
                <thead>
                    <tr class="h-8">
                        <th class="bg-backgroundMain text-textMain rounded-tl-md">#</th>
                        <th class="bg-backgroundMain text-textMain">Name</th>
                        <th class="bg-backgroundMain text-textMain">Price</th>
                        <th class="bg-backgroundMain text-textMain">Quantity</th>
                        <th class="bg-backgroundMain text-textMain">Total</th>
                        <th class="bg-backgroundMain text-textMain rounded-tr-md">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- js rows added here -->
                </tbody>
            </table>

        </div>

        <button data-tooltip-target="tooltip-default" class="text-textMain bg-backgroundMedium p-2 rounded-md card" type="button" id="addrow_btn">Add Item</button>
        <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            click to add item
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <br><br>

        <input class="text-textMain bg-backgroundMedium p-2 rounded-md card" type="submit" value="Submit Order">
    </form>
</body>

<script>
    function row_counter(){
        var a;
        var table =  document.getElementById('myTable').getElementsByTagName('tbody')[0];
        var m_rows = table.rows;
        for (var i=0; i<m_rows.length; i++){
            let numb_column = m_rows[i].cells[0];
            numb_column.textContent = i+1;
            numb_column.classList.add('font-bold');
            numb_column.classList.add('text-backgroundMain');
            var a = i+1;
        }
        return a
    }

    $(document).ready(function(){
        $('#addrow_btn').click(function(){
            addrow();
            row_check();
        });
    });

    function addrow(){
        const newr = $('<tr>');
        
        var table = document.getElementById('myTable');
        var rowCount = row_counter();
        
        console.log('rows are ',rowCount)
        const uniqueId = 'row_'+rowCount+'_'+Math.random().toString(36).slice(2, 6);
        newr.attr('id',uniqueId);
        newr.attr("class", "bg-textMediumMain");

        for (let i=0; i<=5; i++){
            const newcell = $("<td>");
            var newInput;
            var pro_sel_id;
            if (i==0){
                // var newInput =  rowCount ;
            }
            else if (i==1){
                newInput = ('<select class="product_select_'+uniqueId+' bg-backgroundMain Medium text-textMain min-w-[200px] rounded-lg border-2 border-gray-600"  id="product_'+uniqueId+'" name="customer" value="Select"><option value="">Select</option>{% for item in product_data.results %}<option value="{{item.id}}">{{item.name}}</option>{% endfor %}</select>');
                var pro_sel_id = ".product_select_"+uniqueId;
            
            }
            else if(i==5){
                newInput = ('<a class="btn bg-backgroundDanger text-textMain btn-sm" onclick="del_row('+uniqueId+')">Remove</a>');
            }
            else{
                var newInput = $("<input>");
                newInput.attr("type", "number");
                newInput.attr("min", "0");
                newInput.attr("class", "block max-w-[400px] p-2 text-gray-900 border-2 border-gray-600 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500");
            }
            newcell.append(newInput);
            newr.append(newcell);
        }
        $("tbody").append(newr);
        $(pro_sel_id).selectize();
        row_counter()
    }
    addrow();

    function del_row(row_num){
        var row_id = row_num.id;
        console.log("row to remove is ", row_id.id)
        let row = document.getElementById(row_id);
        console.log("row is ", row)
        row.remove();
        row_counter();
        row_check();
    }
    $(function(){
        $(".select2_select").selectize();
    });

    $(document).ready(function(){
        displayProducts();
    });
    
    let json_test;
    const product_url = "http://127.0.0.1:8000/api/products/products/?page_size=100000";
    const customer_url = 'http://127.0.0.1:8000/api/customers/?page_size=100000';
    async function getData(url) {
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            json_test = await response.json();
            console.log('json test is ',json_test);
            return json_test
        } catch (error) {
        console.error(error.message);
        }
    }
    async function containerf(product_url){
        pd = await getData(product_url)
        console.log('pd is ', pd)
        return pd
    }



    function displayProducts() {
        var productList = document.getElementById('product-list');
        console.log(productList);
        console.log(productList.textContent);

        // Convert the object to a JSON string
        var jsonString = JSON.stringify(productList.textContent);
        
        const length = Object.keys(jsonString).length;
        console.log(length);
        console.log(jsonString);
        console.log(jsonString[2]);
    }

    async function row_check(){
        let a = row_counter()
        let b = json_test.count
        console.log('a and b is',a,b)
        if (a == b){
            document.getElementById('addrow_btn').setAttribute('disabled','true');
            document.getElementById('tooltip-default').textContent = `You have only ${b} products`;
        }
        else if (a < b){
            document.getElementById('addrow_btn').removeAttribute('disabled');
            document.getElementById('tooltip-default').textContent = 'click to add item';
        }
    }
    row_check()
</script>
{% endblock %}