{% extends 'p_o_s/dashboard.html' %}

{% load static %}

{% block pageheading %}
    Settings
{% endblock %}

{% block pagedata %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theming With Tailwind</title>
  </head>
  <body>
    <div class="container mx-auto">
      <h1 class="text-color_primary bg-backgroundMediumMain">Hello, World!</h1>
      <button class="bg-backgroundMedium text-white">Click Me</button>
      <p class="text-textMedium">This is a paragraph.</p>
      <div class="mt-4">
        <button onclick="setTheme('theme1')">Theme 1</button>
        <button onclick="setTheme('theme2')">Theme 2</button>
        <button onclick="setTheme('theme3')">Theme 3</button>
      </div>
    </div>
    
  </body>
</html>
{% endblock %}
