/* [data-theme = "light_blue"] {
    --text-main:#03045e;
    --text-medium-main:#023e8a;
    --text-medium:#0077b6;
    --text-unprimary:#0096c7;
    --primary:#00b4d8;
    --backgound-unprimary:#48cae4;
    --background-medium:#90e0ef;
    --background-medium-main:#ade8f4;
    --background-main:#caf0f8;
}

[data-theme = "dark_blue"] {
    --text-main: #caf0f8;
    --text-medium-main: #ade8f4;
    --text-medium: #90e0ef;
    --text-unprimary: #48cae4;
    --primary: #00b4d8;
    --backgound-unprimary: #0096c7;
    --background-medium: #0077b6;
    --background-medium-main: #023e8a;
    --background-main: #03045e;
} */

// primary: 'var(--text-main)',
        // secondary: 'var(--color-secondary)',
        // buttons: 'var(--color-buttons)',
        // typography: 'var(--text-unprimary)',
        // test: 'var(--background-main)',